<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paraschivescu.tudor.bucharesttour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TouristAttractions"
            android:label="@string/tourist_attractions"/>
        <activity android:name=".CoffeeTea"
            android:label="@string/coffee_tea"/>
        <activity android:name=".Restaurants"
            android:label="@string/restaurants"/>
        <activity android:name=".PubsBars"
            android:label="@string/pubs_bars"/>
    </application>

</manifest>